Forelesning 1/.ipynb_checkpoints/*
Forelesning 2/.ipynb_checkpoints/*
Forelesning 4/.ipynb_checkpoints/*
Oblig 2/Oppgave 1_løsningsforslag.ipynb
Oblig 2/Oppgave 2_løsningsforslag.ipynb
Oblig 2/.ipynb_checkpoints/*
Forelesning 4/datasett-hundogkatt/*
Forelesning 4/Fasit DNN-fashion-MNIST.ipynb
Forelesning 4/Fasit CNN-fashion-MNIST.ipynb